.site-title, .site-title:visited {
  color: #ff2b06;
  font-size: 3em;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: -4px;
}

.post-title {
  font-family: "Georgia";
  font-size: 28px;
  margin-bottom: 0;
}
