---
layout: default
---

<div class="home">
  {{ content }}

  {% for post in site.posts %}
    {% if post.full_on_home %}
      {% include post.html post=post on_home=true%}
    {% else %}
      <article class="post">
          <header class="post-header">
            <h2 class="post-title">
              <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
          </header>
      </article>
    {% endif %}
  {% endfor %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
</div>
